body{
   background-image:url('concretewall.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
        background-color: #ddd;
        padding-left: 10px;
       text-align: center;

}
h1{
     font-family: 'Futura'; font-size: 45px;
    letter-spacing: 3px; 
    text-align: center;
}
/* Create three equal columns that floats next to each other */
.column {
  float: inherit;
  width: 100%;
  padding: 1px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.board-outline {
border: solid #ccc 5px;
    display: block;
    width: 996px;
    height: 466px;
    box-shadow: 2px 5px 2px #aaa;    
}

#board{
 position: absolute;
    background-color: #dcd5d1;
    height: 100%;
    box-shadow: inset 1px 1px 3px #999;
    height: 1821px;
    width: 1350px;
}
.ui-resizable {
    position: relative;
}
h2,p{
  font-size:50%;
  font-weight:normal;
}
ul,li{
  list-style:none;
}
ul{
  overflow:hidden;
  padding:20px;
}
ul li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:100px;
  width:100px;
  padding:10px;
    /* Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
     -webkit-transform:rotate(-6deg);
  -o-transform:rotate(-6deg);
  -moz-transform:rotate(-6deg);
    -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}


ul li{
  margin:5px;
  float:left;
}
ul li p{
font-family: 'Nanum Pen Script', cursive;
  font-size:15px;
    line-height: 12px;
    letter-spacing: 1px
}
ul li:nth-child(even) a{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:2px;
    background: #cfc;
}
ul li:nth-child(3n) a{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-2px;
     background:#ccf;
}
ul li:nth-child(5n) a{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-2px;

}
ul li a:hover,ul li a:focus{
  /*-moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    */
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position: relative;
  z-index:5;
}
h2 {
font-family: 'Nanum Pen Script', cursive;
  font-size:35px;
    align-content: center;
}
ol{text-align:center;}
ol li{display:inline;padding-right:1em;}
ol li a{color:#fff;}